<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-gaode-location-v2" version="2.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-gaode-location-v2</name>

    <preference name="ANDROIDKEY" />
    <preference name="IOSKEY" />
    <preference name="LOCATION_USAGE_DESCRIPTION"/>
    <js-module name="cordova-plugin-gaode-location" src="www/cordova-plugin-gaode-location.js">
        <clobbers target="GaodeLocation" />
    </js-module>

    <engines>
      <engine name="cordova" version=">=7.1.0" />
      <engine name="cordova-android" version=">=7.0.0" />
      <engine name="cordova-ios" version=">=4.3.0" />
      <engine name="apple-xcode" version=">=9.0.0" />
      <engine name="apple-ios" version=">=9.0.0" />
    </engines>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GaodeLocation">
                <param name="android-package" value="com.linkcld.cordova.amap.GaodeLocation"/>
            </feature>
            <preference name="ANDROIDKEY" value="$ANDROIDKEY" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.amap.api.location.APSService"></service>
            <meta-data android:name="com.amap.api.v2.apikey" android:value="$ANDROIDKEY"></meta-data>
        </config-file>

        <!-- Plugin souce code -->
        <source-file src="src/android/GaodeLocation.java" target-dir="src/com/linkcld/cordova/amap" />
        <source-file src="src/android/ActionHolder.java" target-dir="src/com/linkcld/cordova/amap" />
        <source-file src="src/android/LocationListener.java" target-dir="src/com/linkcld/cordova/amap" />

        <!-- Gaode skd -->
        <framework src="src/android/Gaode.gradle" custom="true" type="gradleReference" />
    </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="GaodeLocation">
                <param name="ios-package" value="CDVGaodeLocation"/>
                <param name="onload" value="true"/>
            </feature>
            <preference name="GAODEKEY" value="gaode$IOSKEY" />
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>GAODEKEY</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>gaode$IOSKEY</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>$LOCATION_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$LOCATION_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
            <string>$LOCATION_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
          <dict>
              <key>NSAllowsArbitraryLoads</key>
              <true/>
          </dict>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>location</string>
            </array>
        </config-file>

        <!-- Plugin source code -->
        <header-file src="src/ios/CDVGaodeLocation.h" />
        <source-file src="src/ios/CDVGaodeLocation.m" />
        <header-file src="src/ios/CDVGaodeAction.h" />
        <source-file src="src/ios/CDVGaodeAction.m" />

        <!-- Gaode sdk -->
        <framework src="AMapLocation-NO-IDFA" type="podspec" spec=""/>

    </platform>
</plugin>
